<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rider.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rider.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @rider.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @rider.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @rider.age %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @rider.qualification %>
</p>

<p>
  <strong>Work experience:</strong>
  <%= @rider.work_experience %>
</p>

<p>
  <strong>Ice number:</strong>
  <%= @rider.ice_number %>
</p>

<p>
  <strong>Cnic:</strong>
  <%= @rider.cnic %>
</p>

<p>
  <strong>Driving license:</strong>
  <%= @rider.driving_license %>
</p>

<p>
  <strong>Reg copy:</strong>
  <%= @rider.reg_copy %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @rider.cv %>
</p>

<%= link_to 'Edit', edit_rider_path(@rider) %> |
<%= link_to 'Back', riders_path %>
